
 <body>
          <div class="flex-center position-ref full-height">
                  <div class="content">
        <div class="m-b-md">
            <h1 class="title">AutoVaR</h1>

            <p>Risk Management for Autonomous Systems
</p>
        </div>

        <div class="links">
            <a href=mailto:contact@autovar.ai>Contact</a>
        </div>
    </div>
          </div>
    </body>